<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Beauticians list</h1>
    {% for beautician in beauticians %}
    <h2>{{beautician.country}}</h2>
    <p>{{beautician.city}}</p>
    <p>{{beautician.clinic}}</p>

    <h3>Education:</h3>
    { % for Education in beautician.education.all %}
        <p>School: {{education.school}}</p>
        <p>Program: {{education.program}}</p>

    {% empty %}
        <p>No education information available.</p>
{% endfor %}
</body>

</html>