{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/beauticians_list.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-4">Beauticians List</h1>
        {% for beautician in beauticians %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{beautician.name}}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{beautician.clinic}}</h3>
                    <p class="card-text">{{beautician.city}}, {{beautician.country}}</p>

                    <h4 class="mt-3">Education:</h4>
                    {% for education in beautician.education.all %}
                        <p>{{education.program}} at {{education.school}}</p>
                    {% empty %}
                        <p>No education information available.</p>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>No beauticians found.</p>
        {% endfor %}
    </div>
{% endblock content %}