

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Surgeon Profile</h2>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3>Personal Information</h3>
        {{ form.as_p }}

        <h3>Current Clinics</h3>
{% for clinic in current_clinics %}
    <div>
        {{ clinic.name }}
        <button type="button" class="btn btn-danger delete-clinic" data-clinic-id="{{ clinic.id }}">Delete Clinic</button>
    </div>
{% empty %}
    <p>No current clinics associated.</p>
{% endfor %}
        
        <h3>Clinics</h3>
        {{ clinic_formset.management_form }}
        {% for clinic_form in clinic_formset %}
            <div class="clinic-form mb-3">
                {{ clinic_form.id }}
                Debug: {{ clinic_form.instance.pk }}, {{ clinic_form.instance.name }}
                {% if clinic_form.instance.pk %}
                    <h4>Exisiting Clinic</h4>
                {{clinic_form.instance.name}}
                <button type="button" class="btn btn-danger delete-clinic" data-clinic-id="{{ clinic_form.initial.id }}">Delete Clinic</button>
            {% else %}

                <h4>Update Clinic</h4>
                {{ clinic_form.existing_clinics }}
                {{ clinic_form.new_clinic_name }}
            {% endif %}
            </div>
        {% endfor %}
        <button type="button" id="add-clinic" class="btn btn-secondary mb-3">Add Clinic</button>
        
        <h3>Education</h3>
        {{ education_formset.management_form }}
        {% for education_form in education_formset %}
            <div class="education-form mb-3">
                {{ education_form.id }}
                {% if education_form.instance.pk %}
                    <h4>Exisiting Education</h4>
                {% else %}
                    <h4>Update Education</h4>
                {% endif %}
                    {{ education_form.as_p}}                 
                 </div>
            {% endfor %}
        <button type="button" id="add-education" class="btn btn-secondary mb-3">Add Education</button>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Submit for Verification</button>
                <div id="thankYouMessage" style="display: none;">
                    Thank you for your submission. We will email you once your verification process is completed. Thank you!
            </div>
    </form>
</div>

{% endblock %}



{% block extra_js %}
<script> var csrftoken = '{{ csrf_token }}'; </script>
    <script src="{% static 'js/clinic_form.js' %}"></script>
    <script src="{% static 'js/clinic_add_button.js' %}"></script>
    <script src="{% static 'js/education_add_button.js' %}"></script>
    <script>
        window.cityUrl = "{% url 'get_cities' 0 %}".slice(0, -1);
    </script>
    <script>
        window.clinicUrl = "{% url 'get_clinics' 0 %}".slice(0, -1);
    </script>

{% endblock %}

