{% extends 'base.html' %}
{% load static %}

{%block content%}
<div class="container d-flex vh-100">
    <div class="row justify-content-center align-self-center w-100">
        <div class="col-md-6 text-center">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Profile Pending Verification</h4>
                <p>Thank you. Dr. {{ surgeon.user.first_name }} {{ surgeon.user.last_name }}</p>
                <p>We will review your updates and get back to you shortly.</p>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}