{% extends "base.html" %}
{% load static %}
{% block title %}Get Verified - SafeSurgeon{% endblock %}



{% block content %}
<main class="container mt-5">
    <h1 class="mb-4">Verify your Surgeon</h1>
    <form action= "{% url 'verify' %}" method="post">
        {% csrf_token %}
    <div class="mb-3">
        <label for="id_country" class="form-label"></label>
            <select class="form-select" id="country_select" name="country" required>
                <option value="">Select a country</option>
                {%for country in countries%}
                <option value="{{country.id}}">{{country.name}}</option>
                {% endfor %}
            </select>       
    </div>
    <div class="mb-3">
        <label for="id_city" class="form-label"></label>
            <select class="form-select" id="city_select" name="city" required>
                <option value="">Select a city</option>
                {% for city in cities %}
                <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
            </select>       
    </div>
    <div class="mb-3">
        <label for="clinic" class="clinic_form"></label>
            <input type='text' class="form-control" id="clinic" name="clinic" placeholder='clinic'required>    
    </div>
    <div class="mb-3">
        <label for="first_name" class="form-label"></label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"required>
              
    </div>  
    <div class="mb-3">
        <label for="last_name" class="form-label"></label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Verify</button>
</form>
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'SafeSurgeon/static/safeSurgeon.js' %}"></script> 
{% endblock %}